.btn__index-page {
  margin-top: 31rem;
  margin-left: 1rem; }

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 31%;
  width: 0%;
  transition: width .5s;
  overflow: hidden; }
  .card-overlay__link {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .card-overlay:hover {
    width: 100%;
    cursor: pointer; }

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .card-overlay {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5); } }

img:hover + .card-overlay {
  width: 100%;
  cursor: pointer; }
